* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 1em;
	min-height: 100vh;
}

.page-wrapper {
	position: relative;
}


.header-img {
	max-width: 500px;
	width: 100%;
	height: auto;
}

.header {
	position: fixed;
	top: 0;
	min-height: 75px;
	padding: 0px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	width: 100%;
	padding-bottom: 20px;
	align-content: center;
}

.grid-container {
	max-width: 1000px;
	padding-top: 200px;
	margin: 0 auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 100px;
	grid-template-areas:
		"about about about"
		"video video video"
		"cards cards cards"
		"footer footer footer";
}




.main-nav > ul {
	list-style: none;
	justify-content: space-between;
}



.main-about {
	grid-area: about;
}

.main-about-description {
	flex-shrink: 0;
}

@media (min-width: 769px) {

	.header,
	.main-nav-links {
		display: flex;
	}
	.main-nav {
		justify-content: space-around;
		width: 50%;
	}
	.header {
		flex-direction: column;
		align-items: center;
	}
	.grid-container {
		padding-top: 65px;
	}


}



@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}
	.grid-container {
		padding-top: 65px;
	}
}